# in this file i finde the best solotiion to my model.

## import lib need

In [1]:
import os
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
import numpy as np

## how make df

In [2]:
# current_dir = os.path.dirname(os.path.abspath(__file__))
# data_path = os.path.join(current_dir, "data_set_snake_game.csv")
df = pd.read_csv("data_set_snake_game.csv")
df = pd.get_dummies(df, columns=['direction'])

distans = []
current_distance = 1e+4
for i in range(1,len(df)):
    
    next_distance = int(np.sqrt(np.pow(df.loc[i]['head_x'] - df.loc[i]['food_x'],2) + np.pow(df.loc[i]['head_y'] - df.loc[i]['food_y'],2)))
    if current_distance < next_distance:
        # print("current_distance: %s, next_distance: %s" %(current_distance, next_distance))
        df = df.drop(index=i-1)
    current_distance = next_distance
df.reset_index()
df

,head_x,head_y,food_x,food_y,direction_Down,direction_Left,direction_Right,direction_Up
0,25,50,125,250,True,False,False,False
1,25,75,125,250,True,False,False,False
2,25,100,125,250,True,False,False,False
3,25,125,125,250,True,False,False,False
4,25,150,125,250,True,False,False,False
...,...,...,...,...,...,...,...,...
104,725,350,725,475,True,False,False,False
105,725,375,725,475,True,False,False,False
106,725,400,725,475,True,False,False,False
107,725,425,725,475,True,False,False,False
111,725,525,350,225,True,False,False,False

## send data to torch

In [5]:
x = df[['head_x' ,'head_y', 'food_x', 'food_y']].values.astype('float32')
y = df[['direction_Down',	'direction_Left','direction_Right',	'direction_Up']].values
y_labels = y.argmax(axis=1).astype('int64')
print(y_labels)

[0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3
 3 3 3 3 3 2 2 2 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 3 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0]